.invalidBox {
    background: #FF0101;
    background: -webkit-radial-gradient(center, #FF0101, #C71D1D);
    background: -moz-radial-gradient(center, #FF0101, #C71D1D);
    background: radial-gradient(ellipse at center, #FF0101, #C71D1D);
    color: white;   
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px black, -2px 2px black ;
};

#topBadge {
    width: 100%;
    background-color: #138400
}

.label {
    font-weight: bold;
}

.contrastBoutonVert {
    background-color: #1d611a;
}
.contrastBoutonNoir {
    background-color: #000000;
}

.messImage {
    width: 400px;
}

.spanBadge {
    width: 100%;   
}

.badgeList {
    display:flex;
    justify-content: space-around;
    width: 100%;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 10px;
    border:3px solid #000000;
    background-color: #0b22a5;
    font-size: 1rem;
}

.deleteButton {
    border: 4px solid red;
    box-shadow: 2px 2px 2px black;
    padding: .5rem;
}



@media only screen and (max-width: 768px) {

    #membre {
        display: none;
    }

    #filPrincipal {
        display: flex;
        flex-direction: column;
    }

    .messImage {
        width: 100%;
    }

   .panelComment {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }

    .buttonsPanel {
        width: 100%;
    }

    .titreResponsive {
        font-size:3rem;
    }
}